.env
.env.*
!.env.example

venv/
.venv/
env/

__pycache__/
*.py[cod]
*$py.class
*.egg-info/
.eggs/
dist/
build/

*.sqlite3
*.db
logs/

.git/
.gitignore

.idea/
.vscode/

Thumbs.db
.DS_Store

*.docx
README.md
deploy/
scripts/
